[Unit]
Description=Daily SeeSize backup

[Timer]
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=5min
Persistent=yes
Unit=seesize-backup.service

[Install]
WantedBy=timers.target
